<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--单位：字节。 -->
        <requestLimits maxAllowedContentLength="4294967295" />
        <!-- 4 GB IIS 最大值 -->
      </requestFiltering>
    </security>
    <!-- 关键步骤：在 modules 节点下移除 WebDAVModule -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
</configuration>