<?xml version="1.0" encoding="utf-8" ?>
<!--NLog日志配置-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog.log">
	<!-- Load the ASP.NET Core plugin -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!--==========变量定义============-->
	<!--日志输出目录-->
	<variable name="logPath" value="${basedir}/logs/${date:format=yyyyMM}/${level}"/>
	<!--===========输出目标===========-->
	<!--异步执行-->
	<targets async="true">
		<!--写入文件，用于开发阶段排错-->
		<target name="traceFile" 
				xsi:type="File" 
				fileName="${logPath}/log_${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>
				/>
	</targets>
	<!--=============规则=============-->
	<rules>
		<!-- 日志级别：Trace,Debug,Info,Warn,Error,Fatal,Off -->
		<logger  name="*" minlevel="Trace" writeTo="traceFile" />
	</rules>
</nlog>